In [ ]:
from NetworkSim.simulation.process.ram import RAM
from NetworkSim.simulation.process.transmitter.fixed import FT
from NetworkSim.simulation.process.receiver.tunable import TR
from NetworkSim.architecture.setup.model import Model
from NetworkSim.architecture.base.network import Network
import simpy

In [ ]:
env =simpy.Environment()
model = Model(network=Network(num_nodes=5))
ram0 = RAM(env=env, until=2000, ram_id=0, model=model)
ram0.initialise()
trans0 = FT(env=env, ram=ram0, transmitter_id=0, model=model)
trans0.initialise()
rec1 = TR(env=env, until=2000, receiver_id=1, model=model)
rec1.initialise()
rec2 = TR(env=env, until=2000, receiver_id=2, model=model)
rec2.initialise()
rec3 = TR(env=env, until=2000, receiver_id=3, model=model)
rec3.initialise()

In [ ]:
env.run(until=2000)

In [4]:
trans0.transmitted_data_packet_df

   Timestamp                                         Raw Packet Destination ID
0      300.0  1110110100100011100011101110001100010001111110...              1
1      450.0  0011010011110100111110011111111000010111010010...              2
2      600.0  0011100110100111101010000111001100000100111111...              3
3      750.0  0000101101111101001010101110011011100000011110...              2
4      900.0  0011001000100010010111011100000001000011010100...              1
5     1050.0  0110001110101010000111011110111111100000100100...              3
6     1200.0  0110101010101100110000100101010010001000010111...              2
7     1650.0  1110001000011110010010000101101101010011101000...              1
8     1800.0  1101011100001110110001111000010111001110011011...              3

In [5]:
trans0.transmitted_control_packet_df

   Timestamp        Raw Packet Destination ID
0      157.2  0000000000000100              1
1      300.0  0000000000001000              2
2      450.0  0000000000001100              3
3      600.0  0000000000001000              2
4      750.3  0000000000000100              1
5      960.3  0000000000001100              3
6     1050.3  0000000000001000              2
7     1560.3  0000000000000100              1
8     1650.3  0000000000001100              3

In [6]:
trans0.ram.generated_data_packet_df

,Timestamp,Interarrival to Next,Raw Packet,Destination ID
0,157.164757,226.910206,1110110100100011100011101110001100010001111110...,1
1,159.786370,121.586490,0011010011110100111110011111111000010111010010...,2
2,179.044242,222.126195,0011100110100111101010000111001100000100111111...,3
3,281.372860,178.818389,0000101101111101001010101110011011100000011110...,2
4,384.074962,120.006863,0011001000100010010111011100000001000011010100...,1
5,401.170437,142.504623,0110001110101010000111011110111111100000100100...,3
6,460.191250,159.691192,0110101010101100110000100101010010001000010111...,2
7,504.081825,143.667000,1110001000011110010010000101101101010011101000...,1
8,543.675060,171.573526,1101011100001110110001111000010111001110011011...,3
9,619.882442,157.617703,1101111101111101011010001100010111011100011001...,2
10,647.748825,129.910602,1101111001011011100110010110000010000100110011...,1
11,660.877113,178.337840,0010010101011100110011100101000101110101000101...,4
12,715.248586,366.759804,0100100100000100000000011111111000100110101100...,3
13,777.500145,146.639978,1110010010100100111000001101101001111000000011...,2
14,777.659428,125.956131,1000111110100010011101001000001011100101010011...,1
15,839.214954,726.065089,0000100000111100101100111010010001111111000010...,4
16,903.615559,133.026594,0111001101001110101111111100001011010110010011...,1
17,924.140124,134.555586,1100110001000010111100111111111011011111101111...,2
18,1036.642152,148.336002,0000100110111000010101011010100000111111101011...,1
19,1058.695709,194.479240,1010011000111110110000101011101101100101000010...,2
20,1082.008390,372.629640,1100011101001110000010001110010101110001100101...,3
21,1184.978154,154.503695,1110010111010001001110001001110110010110100111...,1
22,1253.174949,143.392068,1001011000111001101001010011101011110110111101...,2
23,1339.481849,176.703225,1001000101111010110101111100101010011000001101...,1
24,1396.567017,140.145157,1111000001110111000011010101101000010010011110...,2
25,1454.638030,128.328324,0000000011000101010100011100010111100011110000...,3
26,1516.185074,157.458421,1100100111001011101111010000110110101100011100...,1
27,1536.712174,194.956776,0000100110011101001001110000011000010100110001...,2
28,1565.280043,224.708067,0100100101110111001010000111000000101000001100...,4
29,1582.966354,134.775568,0001101111101001100001001011101000001100100110...,3
30,1673.643495,213.883526,0010100101100101101100101010111000011010010110...,1
31,1717.741922,123.212585,1100001111101110101011000110000111101010010101...,3
32,1731.668950,174.878457,1011011010011000001000010000110101011010111100...,2
33,1789.988110,218.264386,1001011111100010011101101001000000110010100010...,4
34,1840.954507,160.472821,0111000111110010001010000101101011110111000111...,3
35,1887.527021,134.538977,0011000111011101111001010011011010110101001100...,1
36,1906.547407,128.993483,1000001001011000110011100100100100101100001101...,2

In [7]:
print(trans0.data_clock_cycle)
print(trans0.control_clock_cycle)

150.0
0.3

In [8]:
trans0.model.data_rings[0].packet_record_df

,Generation Timestamp,Transmission Timestamp,Reception Timestamp,Raw Packet,Source Node,Destination Node,Status,Total Packet Count
0,157.164757,300.0,NaN,1110110100100011100011101110001100010001111110...,0,1,added,1
1,159.786370,450.0,NaN,0011010011110100111110011111111000010111010010...,0,2,added,2
2,179.044242,600.0,NaN,0011100110100111101010000111001100000100111111...,0,3,added,3
3,157.164757,300.0,690.0,1110110100100011100011101110001100010001111110...,0,2,removed,2
4,281.372860,750.0,NaN,0000101101111101001010101110011011100000011110...,0,2,added,3
5,384.074962,900.0,NaN,0011001000100010010111011100000001000011010100...,0,1,added,4
6,159.786370,450.0,960.0,0011010011110100111110011111111000010111010010...,0,3,removed,3
7,179.044242,600.0,990.0,0011100110100111101010000111001100000100111111...,0,2,removed,2
8,401.170437,1050.0,NaN,0110001110101010000111011110111111100000100100...,0,3,added,3
9,460.191250,1200.0,NaN,0110101010101100110000100101010010001000010111...,0,2,added,4
10,401.170437,1050.0,1560.0,0110001110101010000111011110111111100000100100...,0,3,removed,3
11,460.191250,1200.0,1590.0,0110101010101100110000100101010010001000010111...,0,2,removed,2
12,504.081825,1650.0,NaN,1110001000011110010010000101101101010011101000...,0,1,added,3
13,543.675060,1800.0,NaN,1101011100001110110001111000010111001110011011...,0,3,added,4

In [9]:
trans0.model.control_ring.packet_record_df

,Generation Timestamp,Transmission Timestamp,Reception Timestamp,Raw Packet,Source Node,Destination Node,Status,Total Packet Count
0,157.164757,157.2,NaN,0000000000000100,0,1,added,1
1,159.786370,300.0,NaN,0000000000001000,0,2,added,2
2,179.044242,450.0,NaN,0000000000001100,0,3,added,3
3,159.786370,300.0,540.0,0000000000001000,0,2,removed,2
4,281.372860,600.0,NaN,0000000000001000,0,2,added,3
5,384.074962,750.3,NaN,0000000000000100,0,1,added,4
6,179.044242,450.0,810.0,0000000000001100,0,3,removed,3
7,281.372860,600.0,840.0,0000000000001000,0,2,removed,2
8,401.170437,960.3,NaN,0000000000001100,0,3,added,3
9,460.191250,1050.3,NaN,0000000000001000,0,2,added,4
10,460.191250,1050.3,1290.3,0000000000001000,0,2,removed,3
11,401.170437,960.3,1320.3,0000000000001100,0,3,removed,2
12,504.081825,1560.3,NaN,0000000000000100,0,1,added,3
13,543.675060,1650.3,NaN,0000000000001100,0,3,added,4

In [ ]:
rec2.received_control_packet_df

In [ ]:
rec2.received_data_packet_df