In [1]:
from NetworkSim.simulation.process.ram import RAM
from NetworkSim.simulation.process.transmitter.fixed import FT
from NetworkSim.simulation.process.receiver.tunable import TR
from NetworkSim.architecture.setup.model import Model
from NetworkSim.architecture.base.network import Network
import simpy

In [2]:
env =simpy.Environment()
model = Model(network=Network(num_nodes=4))
ram0 = RAM(env=env, until=2000, ram_id=0, model=model)
ram0.initialise()
trans0 = FT(env=env, ram=ram0, transmitter_id=0, model=model)
trans0.initialise()
rec1 = TR(env=env, until=2000, receiver_id=1, model=model)
rec1.initialise()
rec2 = TR(env=env, until=2000, receiver_id=2, model=model)
rec2.initialise()
rec3 = TR(env=env, until=2000, receiver_id=3, model=model)
rec3.initialise()

In [3]:
env.run(until=2000)

checking at 0
checking at 150.0
checking at 300.0
checking at 450.0
checking at 590.0
checking at 740.0
checking at 890.0
checking at 1040.0
checking at 1190.0

In [4]:
rec1.model.circulation_time

600.0

In [5]:
trans0.transmitted_data_packet_df

   Timestamp                                         Raw Packet Destination ID
0      300.0  0011010110101001001110010100100111001010010101...              1
1      450.0  0111101111111100101101011001001111010101000101...              2
2      600.0  1001100101001011110101111100110011010011001001...              3
3      750.0  0001011100001001000111111110100011010100110000...              2
4      900.0  1011000001111000010011001111111101000001101001...              1
5     1050.0  0010101000110010001100011010001110001100100110...              3
6     1200.0  1110111001110101011011111011111111011000011110...              2

In [6]:
trans0.transmitted_control_packet_df

   Timestamp        Raw Packet Destination ID
0      300.0  0000000000000100              1
1      450.0  0000000000001000              2
2      600.0  0000000000001100              3
3      750.0  0000000000001000              2
4      900.0  0000000000000100              1
5     1050.0  0000000000001100              3
6     1200.0  0000000000001000              2

In [7]:
trans0.ram.generated_data_packet_df

,Timestamp,Interarrival to Next,Raw Packet,Destination ID
0,157.164757,226.910206,0011010110101001001110010100100111001010010101...,1
1,159.786370,121.586490,0111101111111100101101011001001111010101000101...,2
2,179.044242,222.126195,1001100101001011110101111100110011010011001001...,3
3,281.372860,178.818389,0001011100001001000111111110100011010100110000...,2
4,384.074962,120.006863,1011000001111000010011001111111101000001101001...,1
5,401.170437,142.504623,0010101000110010001100011010001110001100100110...,3
6,460.191250,159.691192,1110111001110101011011111011111111011000011110...,2
7,504.081825,143.667000,1000100010000110101110110010100101011000110110...,1
8,543.675060,171.573526,1010110010000000010101111101111001011100000001...,3
9,619.882442,157.617703,0101101101001011011101011001100001011110000000...,2
10,647.748825,129.910602,0000100101101000111110111110111100111111101001...,1
11,715.248586,366.759804,0000011100001101111101100110110001001010110110...,3
12,777.500145,146.639978,0111100001110010001011001011011001010001110000...,2
13,777.659428,125.956131,1111011000110001101101000000011010101010001000...,1
14,903.615559,133.026594,1111100000101001011000111110111111000111100101...,1
15,924.140124,134.555586,0010101001001110000101100111011011011111001101...,2
16,1036.642152,148.336002,1000100110101100010001111010010011000100001000...,1
17,1058.695709,194.479240,0110100011010110101111100010011011100110000010...,2
18,1082.008390,372.629640,0000110110110101001011010011110111000100101111...,3
19,1184.978154,154.503695,0000010011001001110010010010001011011101000101...,1
20,1253.174949,143.392068,1000011011101101101001101001011011110100101011...,2
21,1339.481849,176.703225,0110101100100001011111110011001111010011101001...,1
22,1396.567017,140.145157,0011101111000110001011101000100010100010110100...,2
23,1454.638030,128.328324,0010001101111001011001100001001101111011010110...,3
24,1516.185074,157.458421,1110001001011011000010101010010111001101100100...,1
25,1536.712174,194.956776,1101110101010101011000011100000010101001100111...,2
26,1582.966354,134.775568,0110100010111110110100100100011100000001101110...,3
27,1673.643495,213.883526,1011111011010101000010100100000000010011110001...,1
28,1717.741922,123.212585,0010111100010011000100110101001000010010011011...,3
29,1731.668950,174.878457,1010001100001011100101010011111110010110000110...,2
30,1840.954507,160.472821,1001110100000101100100000111110111110010000010...,3
31,1887.527021,134.538977,1000001000011111010000011001100010001001111100...,1
32,1906.547407,128.993483,0110010011101111110101011111100100101110110110...,2

In [8]:
print(trans0.transmitter_data_clock_cycle)
print(rec1.receiver_data_clock_cycle)

150.0
150.0

In [9]:
print(rec1.model.get_data_packet_total_duration())

140.0

In [10]:
trans0.model.data_rings[0].packet_record_df

,Generation Timestamp,Transmission Timestamp,Reception Timestamp,Raw Packet,Source Node,Destination Node,Status,Total Packet Count
0,157.164757,300.0,NaN,0011010110101001001110010100100111001010010101...,0,1,added,1
1,159.786370,450.0,NaN,0111101111111100101101011001001111010101000101...,0,2,added,2
2,157.164757,300.0,450.0,0011010110101001001110010100100111001010010101...,0,1,removed,1
3,179.044242,600.0,NaN,1001100101001011110101111100110011010011001001...,0,3,added,2
4,281.372860,750.0,NaN,0001011100001001000111111110100011010100110000...,0,2,added,3
5,159.786370,450.0,750.0,0111101111111100101101011001001111010101000101...,0,2,removed,2
6,384.074962,900.0,NaN,1011000001111000010011001111111101000001101001...,0,1,added,3
7,401.170437,1050.0,NaN,0010101000110010001100011010001110001100100110...,0,3,added,4
8,179.044242,600.0,1050.0,1001100101001011110101111100110011010011001001...,0,3,removed,3
9,460.191250,1200.0,NaN,1110111001110101011011111011111111011000011110...,0,2,added,4

In [11]:
trans0.model.control_ring.packet_record_df

,Generation Timestamp,Transmission Timestamp,Reception Timestamp,Raw Packet,Source Node,Destination Node,Status,Total Packet Count
0,157.164757,300.0,NaN,0000000000000100,0,1,added,1
1,159.786370,450.0,NaN,0000000000001000,0,2,added,2
2,157.164757,300.0,450.0,0000000000000100,0,1,removed,1
3,179.044242,600.0,NaN,0000000000001100,0,3,added,2
4,281.372860,750.0,NaN,0000000000001000,0,2,added,3
5,159.786370,450.0,750.0,0000000000001000,0,2,removed,2
6,384.074962,900.0,NaN,0000000000000100,0,1,added,3
7,401.170437,1050.0,NaN,0000000000001100,0,3,added,4
8,384.074962,900.0,1050.0,0000000000000100,0,1,removed,3
9,281.372860,750.0,1050.0,0000000000001000,0,2,removed,2
10,179.044242,600.0,1050.0,0000000000001100,0,3,removed,1
11,460.191250,1200.0,NaN,0000000000001000,0,2,added,2
12,460.191250,1200.0,1500.0,0000000000001000,0,2,removed,1
13,401.170437,1050.0,1500.0,0000000000001100,0,3,removed,0

In [12]:
rec1.received_control_packet_df

   Timestamp        Raw Packet Source ID
0      450.0  0000000000000100         0
1     1050.0  0000000000000100         0

In [13]:
rec1.queue_df

   Timestamp        Raw Packet Source ID  Operation
0      450.0  0000000000000100         0      Added
1      450.0  0000000000000100         0  Processed
2     1050.0  0000000000000100         0      Added
3     1190.0  0000000000000100         0  Processed

In [14]:
rec1.queue

[]

In [15]:
rec1.received_data_packet_df

   Timestamp                                         Raw Packet Source ID
0      450.0  0011010110101001001110010100100111001010010101...         0